{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

## Selenium grid helm chart installatio

To install the chart run the following commands:

```console
$ helm repo add helm-selenium https://frste.github.io/helm-charts
$ helm repo update
$ helm install my-selenium-grid helm-selenium/selenium
```

{{ template "chart.valuesSection" . }}
